<div>
  <div class="container">
      <div class="text">
          <h3>{{title$ | async}}</h3>
          <h2>{{subtitle$ | async}}</h2>
        </div>
    
    <div *ngIf="showTime$ | async" class="spinner">
      <mat-progress-spinner color="primary" mode="determinate" [value]="(time$ | async)?.current">
      </mat-progress-spinner>
    </div>

    
  </div>
  <div *ngIf="showChapter$ | async">
    <mat-progress-bar color="warn" mode="determinate" [bufferValue]="(chapter$ | async)?.total"
      [value]="(chapter$ | async)?.current">
    </mat-progress-bar>
  </div>
  <!-- <p>chapter =  {{chapter$ | async | json}}</p> -->
  <!-- <p>time = {{time$ | async | json}}</p> -->
</div>