<!--
  https://auth0.com/blog/creating-beautiful-apps-with-angular-material/
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <i class="fas fa-home"></i>
        <span class="label">Home</span>
      </a>
      <a mat-list-item routerLink="/practice">
        <i class="fas fa-tachometer-alt"></i>
        <span class="label">Practice</span>
      </a>
      <a mat-list-item routerLink="/settings">
        <i class="fas fa-cogs"></i>
        <span class="label">Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          <i class="fas fa-music"></i>
          <span class="label">Helen's Student Corner</span>
          <i class="fas fa-music"></i>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="/">
              <i class="fas fa-home"></i>
              <span class="label">Home</span>
            </a>
          </li>
          <li>
            <a routerLink="/practice">
              <i class="fas fa-tachometer-alt"></i>
              <span class="label">Practice</span>
            </a>
          </li>
          <li>
            <a routerLink="/settings">
              <i class="fas fa-cogs"></i>
              <span class="label">Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>