<h2><i class="fas fa-tachometer-alt"></i>&nbsp; Practice</h2>
<mat-card class="course-container">
  <mat-card-title>Grade</mat-card-title>
  <mat-card-content class="course-container">
    <!-- Course Selection and Details -->
    <mat-form-field>
      <mat-select placeholder="Select Course" required [disabled]="!canSelectOption" [(value)]="courseSelected">
        <mat-option *ngFor="let course of courses; let i=index" [value]="course">
          {{i+1}}. {{course.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><i class="fas fa-info-circle"></i>&nbsp; Contents</mat-panel-title>
        </mat-expansion-panel-header>

        <section class="mat-typography">
          <p>{{courseSelected.description}}</p>
          <table mat-table class="course-table" [dataSource]="courseSelected.exercises">
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let exercise; columns: columnsToDisplay"></tr>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let exercise"> {{exercise.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let exercise"> {{exercise.description}} </td>
            </ng-container>
            <ng-container matColumnDef="scale">
              <th mat-header-cell *matHeaderCellDef> Scales </th>
              <td mat-cell *matCellDef="let exercise"> {{toScaleDetails(exercise)}} </td>
            </ng-container>
          </table>
        </section>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-card-actions class="transport-container">
      <button mat-raised-button color="primary" [disabled]="!player.canPlay && !player.canResume" (click)="player.play()">
        {{playButtonText}}<mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-raised-button color="primary" [disabled]="!player.canPause" (click)="player.pause()">
        Pause<mat-icon>pause_circle_online</mat-icon>
      </button>
      <button mat-raised-button color="primary" [disabled]="!player.canStop" (click)="player.stop()">
        Stop<mat-icon>stop</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card class="content-container">
  <!-- <mat-card-title>Content</mat-card-title> -->
  <mat-card-content>
      <app-slide-show-player [player]="player"></app-slide-show-player>
  </mat-card-content>
</mat-card>