.course-container {
  display: flex;
  flex-direction: column;
}
.course-container > * {
  width: 100%;
}

.transport-container {
  display: block;
  flex-direction: column;
  text-align: center;
}

.transport-container > * {
  width: 20%;
  min-width: 70pt;
  vertical-align: middle;
  margin: 4px;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.content-container > * {
  width: 100%;
}

.course-table {
  font-size:0.5em;
  width: 100%;
}

.course-table-cell {
  padding: 4px;
}

.course-table-heading {
  padding: 4px;
  text-align: center;
}