.practice-card {
  margin: 10pt;
}

.control-container {
  display: flex;
  flex-direction: column;
}
.control-container > * {
  align-content: center;
  width: 100%;
}

.practice-control-panel {
  padding: 4pt;
  display: block;
  text-align: center;
  flex-direction: column;
}
.practice-control-panel > * {
  width: 20%;
  min-width: 70pt;
  vertical-align: middle;
  margin: 2pt;
}
