
<h2><i class="fas fa-tachometer-alt"></i>
  Practice</h2>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Course</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="control-container">
      <!-- Course Selection and Details -->
      <mat-form-field>
        <mat-select placeholder="Select Course" required [disabled]="!canSelectOption" [(value)]="courseSelected">
          <mat-option *ngFor="let course of courses; let i=index" [value]="course">
            {{i+1}}. {{course.name}}
          </mat-option>
        </mat-select>
        <mat-hint align="end">{{courseSelected?.description}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="practice-control-panel">
      <button mat-raised-button color="primary" [disabled]="!canPlay" (click)="play()">
        {{playButtonText}}<mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-raised-button color="primary" [disabled]="!canPause" (click)="pause()">
        Pause<mat-icon>pause_circle_online</mat-icon>
      </button>
      <button mat-raised-button color="primary" [disabled]="!canStop" (click)="stop()">
        Stop<mat-icon>stop</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="practice-card">
  <mat-card-content>
    <i class="fas fa-sync fa-spin"></i>
    <p *ngFor="let exercise of courseSelected?.exercises; let i=index">
      {{i+1}}. {{exercise.name}}
    </p>
  </mat-card-content>
</mat-card>